<!--<app-input-search [messageInputSearch_userList]="['user - list - input']"></app-input-search>-->
<!--goi 2 lan khi de app-input-search -->
<app-input-search (keyWord)="search($event)"></app-input-search>
<table class="table">
  <button class="btn btn-primary" [routerLink]="['add']" >Create</button>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">email</th>
    <th scope="col">class</th>
    <th scope="col">handler</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
      <ng-container *ngFor="let group of groups">
        <td *ngIf="user.group_id == group.id">{{group.name}}</td>
      </ng-container>
    <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>
    <button class="btn btn-primary mr-2" [routerLink]="[user.id, 'edit']" >Edit</button>
  </tr>
  </tbody>
</table>

